.interna_sobre {
	background: url("../img/bg-produtos.jpg") no-repeat center;
	background-size: cover;
}

.produto_item {
	padding-top: 60px;
}

.produto_item h2 {
	color: #fff;
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
	position: relative;                                 /* Para deixar o texto sobre a imagem */
	top: -180px;                                        /* Para deixar o texto sobre a imagem (negativo subiu o texto) */
	text-align: center;                                 /* Para deixar o texto sobre a imagem (alinhamento ao centro) */
	margin-bottom: -56px;                               /* Devido o position relative, a sombra do texto ficou la, por isso ajustamos */
} 

.produto_item h2:after, .produto_item h2:before {
	content: "";                                        /* Obrigatório para criação do pseudo elemento */
  display: block;                                     /* Por padrão ele é inline */
  width: 60px;                                        /* Largura do nosso separador */
  height: 3px;                                        /* Altura do nosso separador */
  background: #fff;                                 /* Preenchimento preto */
  margin: 8px auto;                                   /* Margin definida 6px top e bottom, e auto dos lados, centralizando */
}

.produto_icone {
	background: #000;
	padding: 70px 0;
}

.produto_icone img {
	margin: 0 auto;
}

.produto_info {
	background: #000;
}

.produto_info p {
	color: #fff;
	font-size: 18px;
	line-height: 25px;
	height: 180px;
	padding: 30px 40px;
}

.produto_info ul li {
	background: #fec63e;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	float: left;
	width: 229px;
	height: 49px;
	text-align: center;
	padding-top: 16px;
}

.produto_info ul li:nth-child(1), .produto_info ul li:nth-child(2) {       
	margin-bottom: 2px;
}

.produto_info ul li:nth-child(even) {       /* odd fala com todos os impares, even fala com todos os pares.*/
	margin-left: 2px;
}





